.blog-post {
  border: 1px solid #ddd;
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.blog-post img {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  margin-right: 16px;
}
.blog-content {
  max-width: 600px;
}
.blog-post h2 {
  color: white;
  margin: 0 0 8px;
}
.blog-post h3 {
  color: white;
  margin: 0 0 8px;
}
.blog-post p {
  color: white;
  font-size: 20px;
  margin: 0 0 16px;
}
.blog-post button {
  padding: 8px 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.blog-post button:hover {
  background-color: #0056b3;
}

#loading {
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
  color: white;
}

@media (max-width: 768px) {
  .blog-post {
      flex-direction: column;
      align-items: flex-start;
  }
  .blog-post img {
      margin: 0 0 16px 0;
  }
  .blog-content {
    max-width: 100%;
    text-align: center;
  }
  .blog-post button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
  }
}
