/* Style for certificates */
.certificate {
  width: 45%;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.certificate:nth-child(odd) {
  align-self: flex-start;
}

.certificate:nth-child(even) {
  align-self: flex-end;
}

.certificate h3 p {
  text-color: white;
}
#certificates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
